.comment-container p{
    margin: 0;

}

.trash-icon-comment{
    float: right;
    transition: transform .5 ease-in-out;
    display: block
}
.trash-icon-comment:hover{
    transform:scale(110%);
    color: red;
}