.post-card{
        width: 600px;
        background: white;
        color: black;
        margin: 50px auto;
        padding: 25px;
        border-radius: 15px;
        transition: transform .25s ease-in-out
}
.post-card:hover{
        transform: scale(105%)
}

.like-btn:hover{
        color: #5366d0
}
.dislike-btn:hover{
        color: #DB504A
}
