.post-card{
        width: 80%;
        background: white;
        color: black;
        margin: 50px auto;
        padding: 25px;
        border-radius: 15px;
        transition: transform .25s ease-in-out
}
.post-card:hover{
        transform: scale(105%)
}
.like-btn:hover{
        color: #5366d0
}
.dislike-btn:hover{
        color: #DB504A
}
#unfollow-btn{
        font-size: 10px;
        margin-left: 10px;
        background-color: rgb(255, 112, 112);
        border: none;
        padding: 2px;
        border-radius: 5px;
        color: white;
        transition: transform .25s ease-in-out;
}
#unfollow-btn:hover{
        transform: scale(103%);
        background: rgb(255, 84, 84)
}
.trash-icon-post{
    float:right;
    font-size: 16px;
    transition: transform .5 ease-in-out
}
.trash-icon-post:hover{
        transform:scale(110%);
        color: red;
}